{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Your Flightdiary {% endblock %}</h1>


<div class="container mt-3">
  <input type="text" 
  class="form-control" 
  placeholder="Search Here"
  id="txtInputTable">
  <br>
  <table class="table table-striped table-sm"> 
    <thead>
        <tr>
            <th scope="col">Airline</th>
            <th scope="col">flight_number</th>
            <th scope="col">flight_date</th>
            <th scope="col">departure</th>
            <th scope="col">arrival</th>
            <th scope="col">aircraft</th>
            <th scope="col">staff_price</th>
            <th scope="col">google_price</th>
            <th scope="col">diff_price</th>

        </tr>
    </thead>
    <tbody id="tableDetails"> 
      {% for value in myData%} 
      <tr> 
        <td>{{ value[1] }}</td> 
        <td>{{ value[2] }}</td> 
        <td>{{ value[3] }}</td>
        <td>{{ value[4] }}</td>
        <td>{{ value[5] }}</td>
        <td>{{ value[6] }}</td>
        <td>{{ value[7] }}</td>
        <td>{{ value[8] }}</td>
        <td>{{ value[9] }}</td>
      </tr> 
      {% endfor %} 
    </tbody> 
  </table> 
</div>
    <!-- For searching purpose -->
    <script>
      $(document).ready(function () {
     
          $("#txtInputTable").on("keyup", function () {
              var value = $(this).val().toLowerCase();     
              $("#tableDetails tr").filter(function () {
                  $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
              });
          });
      });
  </script>
  {% endblock %}